body {
  background-color: #212121;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
  font-size: 16px;
}

.devPhotos {
  border-radius: 50%;
}

.about-section {
  background-color: #424242;
  color: white;
  font-family: 'Lato', serif;
  font-size: 1em;
}

h2 {
  vertical-align: middle;
  top: 40%;
}

.spacer {
  height: 20px;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  background-color: #212121;
  line-height: 50px;
}

#mainPage {
  color: white;
  font-family: 'Lato', serif;
}

#welcome {
  font-family: 'Roboto', sans-serif;
  font-weight:100;
  text-align: center;
}

.nav-buttons * {
  display: inline-block;
}

.nav-button {
  margin: .4em 1em 0em 0em;
}

.modal-content {
  margin: auto;
}
