body {
  background-color: #9E9E9E;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
}

.devPhotos {
  border-radius: 50%;
}

.about-section {
  background-color: #212121;
  color: white;
}

h2 {
  vertical-align: middle;
  top: 40%;
}

.spacer {
  height: 50px;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  background-color: #9E9E9E;
  line-height: 50px;
}

#mainPage {
  color: #212121;
}

.nav-buttons * {
  display: inline-block;
}

.nav-button {
  margin: 1em;
}

.modal-content {
  margin: auto;
}
