body {
  background-color: #212121;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  letter-spacing: normal;
  font-size: 16px;
}

h2 {
  vertical-align: middle;
  top: 40%;
}

a {
  color: white;
  text-decoration: none;
}

.devPhotos {
  border-radius: 50%;
}

.about-section {
  background-color: #424242;
  color: white;
  font-family: 'Lato', serif;
  font-size: 1em;
}

.spacer {
  height: 60px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #212121;
  font-size: 1.25em;
}

.sectionHeaders {
  height: 150px;
}

.nav-buttons * {
  display: inline-block;
}

.nav-button {
  margin: .4em 1em 0em 0em;
}

.modal-content {
  margin: auto;
}

.paperText {
  font-family: 'Lato', serif;
  line-height: 24px;
}

#mainPage {
  color: white;
  font-family: 'Lato', serif;
}

#welcome {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.25em;
}
