.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.y1 {
  fill: white;
  stroke: orange;
  stroke-width: 1.5px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: .5em;
    font: .5em sans-serif;
    background: #ddd;
    color: black;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.grid line {
  stroke: #ddd;
}

.line-chart {
  padding: 25px;
}

.line-chart * text {
  fill: #ddd;
}
